footer {
    --contentWidth: 1200px;
    padding: -5rem 1rem;
  }
   
  .inside {
    max-width: var(--contentWidth);
    margin: 0 auto;
  }
  
  header{
  
      width: auto;
      height:150px;
      margin-top: 90px;
  }
   
  .nav li{
    color:black;
}


  
   
  
  .nav a{
      text-decoration:none;
  }
  
  img.logo{
      width: 280px;
      height: 40px;
  
      }
  img.media{
      width: 30px;
      height: 30px;
      float: right;
      margin-left: 10px;
      margin-top: 10px;
      }
  
  div.menu{
      float: right;
  }
  
  .nav {
    list-style: none;
    display: flex;
  }
   
  .nav li {
    width: 140px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-right: 2px;
  }
  
  .main img{
      width:100%;
  }
  
  h1{
      font-size:50px;
      font-family: fantasy;
      text-align: center;
      padding-top:80px;
  }
  
  div.contents{
      text-align:  center; 
  
  }
  
  div.contents-item{
      width: 300px;
      display: inline-block;
      margin-right: 40px;
      vertical-align: text-top;
  
  }
  
  .jobicon{
      width: 100px;
      height: 100px;
  }
  
  
  div.contents_strategy{
      text-align:  center; 
  
  }
  
  div.contents_strategy_item{
      width: 300px;
      display: inline-block;
      margin-right: 40px;
      vertical-align: text-top;
      margin-top: 20px;
  
  }
  
  .strategy{
      width: 100%;
     
  }
  
  
  
  div.contents_blog{
      text-align:  center; 
  
  }
  
  div.contents_blog_item{
      width: 300px;
      display: inline-block;
      margin-right: 40px;
      vertical-align: text-top;
  
  }
  
  .blog{
      width: 100%;
  
  }
  
  div.footer{
      margin-top: 200px;
  
  }
  
  h2{
      font-size:40px;
      color: gray;
  
  }
  
  .coment{
      margin-bottom: 150px;
  }
  
  .screenshot img{
      width: 100%;
  }
  
  h3{
      font-weight: bold;
  }
  
  .form p{
      padding-top: 20px;
      position: relative;
      top:10px;
  }
  
  .form textarea{
      width: 500px;
      height: 100px;
  }
  
  .submit{
      margin-top: 50px;
      width: 100px;
      height: 80px;
      font-size: 20px;
  }
  
  .send_detail p{
      padding-top: 20px;
      position: relative;
      top:10px;
  }

.listtable{
    width: 100%;
    border-collapse: collapse;
}  

.listtable th{
    width: auto;
    margin: auto;
    border-bottom: solid 2px #fb5144;
}

.listtable img{
    width: 45px;

}

.listtable tr{
    border-bottom: solid 2px #ddd;
}

h3{
    color: rgb(255, 0, 0);
    font-size: 50px;
    margin-bottom: 0px;
}

.time{
    margin-top: 0px;

}

.blog img{
    width: 800px;
    margin-bottom: 75px;
    
}

.blogdetail img{
    width: 800px;
    margin-bottom: 75px;
}

.blogdetail{
    text-align: center;
}

.blogtable{
    width: 100%;
}

.blogtable img{
    width: 450px;
    margin-bottom: 0px;
}

.blogtable p{
    margin-top: 0px;
    margin-bottom: 50px;
    
}

.blogcomment{
    margin-top: -15px;
}

.edit_button{
    width: 100px;
    margin-right: 20px;
}

.delete_button{
    width: 100px;
}



.blogedit img{
    width: 800px;

}

.blogedit{
    text-align: center;
}

.h3input{
    width: 800px;
    color: red;
}


.blogedittable{
    width: 100%;
}

.blogedittable img{
    width: 450px;
    margin-bottom: 0px;
}

.blogedittable p{
    margin-top: 0px;
    margin-bottom: 50px;
    
}

.edittextarea{
    width: 450px;
    height: 100px;
    margin-top: -50px;
}

.edit_edit_button{
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.samneil_edit{
    display: none;
}

.submit_blogedit{
    margin-top: 50px;
    width: 200px;
    height: 80px;
    font-size: 20px;
}


/* ここから下がボタンのCSS　*/
.container{
    text-align: center;
}

.btn-denim {
    margin-top: 10px;
    display: inline-block;
    max-width: 180px;
    background-color: #293b6a;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border: 1px dashed #FFF;
    box-shadow: 0px 0px 0px 5px #293b6a;/* box-shadowで外枠を */
  }
  
  .btn-denim:hover {
    border-style: solid;
  }

/* ボタンデザイン ここまで*/

/* シミュレーターページ */
.footer_simu {
    --contentWidth: 1800px;
    padding: 1rem 5rem;
}

.inside_simu {
    max-width: var(--contentWidth);
    margin: 0 auto;
}

/* カラム設定 */
#lbox{
    float: left;
    width: 35%;
}
#cbox{
    float: left;
    width: 20%;
}
#rbox{
    float: left;
    padding-left: 50px;
}



.select_job_div{
    margin-bottom: 15px;
}
.select_job{
    width: 150px;
}
.select_race{
    width: 200px;
}

.alart_boder{
    border-color: red;
    border-width: 2px;
}

/* 色 */
.wep_bg_pro{
    background-color: rgb(255, 226, 226);
    width: 95%;
}
.arm_bg_pro{
    background-color: rgb(226, 244, 255);
    width: 95%;
}
.acc_bg_pro{
    background-color: rgb(232, 255, 226);
    width: 95%;
}
.mea_bg_pro{
    background-color: rgb(255, 242, 226);
    width: 95%;
}

.select_wep{
    width: 250px;
}

.select_sld{
    width: 250px;
}

/* 各項目の大枠 */
.select_wep_div{
    width: 570px;
}
.select_sld_div{
    width: 570px;
}

.select_arm_div{
    margin-top: -10px;
    width: 570px;
}
.select_acc_div{
    margin-top: -10px;
    width: 570px;
}
.select_mea_div{
    margin-top: -10px;
    width: 570px;
}

/* 微調整 */
.select_sld_div p{
    margin-top: -10px;
}
.select_arm{
    width: 250px;
}

.arm_bg_pro{
    margin-top:30px;
}

.acc_bg_pro{
    margin-top:30px;
}

.mea_bg_pro{
    margin-top:30px;
}

.select_acc{
    width: 250px;
}
.rin2_div{
    margin-bottom:30px;
}

.select_mea{
    width: 250px;
}

.select_mate{
    width: 50px;
}

/* サブステテーブル */
.tbl_subst{
    position: relative;
    left: -25px;
    table-layout: fixed;
    width: 100%;

}
.tbl_subst th{
    text-align: center;
    border-bottom : 1px solid #ff0000;
    padding-bottom: 3px;
}

.tbl_subst td{
    text-align: center;
    border-bottom : 1px solid #a8b7c5;
    padding-top: 3px;
    padding-bottom: 3px;
}

.tbl_subst_hea td,.tbl_subst_ear td,.tbl_subst_foo td{
    padding-top:17px;
}

.tbl_subst_foo td{
    border-bottom : 2px solid #000000;
    border-bottom-style: solid;
}
.tbl_subst_total td{
    padding-top:5px;
    border-bottom-style: none;
    font-weight: 800;
    color: blue;
}

.clear{
    clear: left;

}

.status p{
    font-size:30px;
    text-decoration:underline;
    text-decoration-color:#FF0000;
    margin-top: -30px;
    margin-bottom: 0px;
}

.main_status tr td{
    width: 25%;
    padding-top: 3px;

}

.l_table{
    text-align: left;
    border-bottom: solid 1px;
    border-color: black;
}

.r_table{
    text-align: right;
    padding-right: 30px;
    border-bottom: solid 1px;
    border-color: black;
}


.weapon_bap_div{
    padding-top: 10px;
}

.weapon_bap{
    border-bottom: solid 1px;
    border-color: black;
}

.weapon_bap tr{
    width: 100%;
}

.weapon_bap_value{
    padding-right: 25px;
}

.sub_status_div{
    padding-top: 10px;
}

.sub_status{
    width: 100%;
}

.sub_status  tr td{
    padding-top: 3px;

}
.sub_status_wid1{
    width: 20%;
}
.sub_status_wid2{
    width: 20%;
}
.sub_status_wid3{
    width: 30%;
}
.sub_status_wid4{
    width: 30%;
}

.sub_l_table{
    text-align: left;
    padding-left: 10px;

}

.sub_r_table{
    text-align: right;
    padding-right: 10px;
}

.crt_table{
    background-color: rgb(255, 231, 231);
}

.dir_table{
    background-color: rgb(231, 233, 255);
}

.det_table{
    background-color: rgb(233, 255, 231);
}

.sks_table{
    background-color: rgb(244, 231, 255);
}

.sps_table{
    background-color: rgb(244, 231, 255);
}

.ten_table{
    background-color: rgb(255, 255, 231);
}

.pie_table{
    background-color: rgb(231, 255, 243);
}

.sample-box-13 {
    border: 2px solid #da4033;
    border-radius: 4px;
    margin-top: 30px;
    padding: 1px;
    font-size: 50px;
    text-align: center;
    position: relative;
}
.sample-box-13::before {
    background-color: #fff;
    color: #da4033;
    font-size: 20px;
    content: "SCORE";
    font-weight: bold;
    left: 1em;
    padding: 0 .5em;
    position: absolute;
    top: -1em;
}

#comparison_table{
    margin-top: 30px;
    background-color: rgb(199, 219, 255);

}

#comparison_table th{
    width: 33%;
    text-align: center;
    background-color: rgb(160, 193, 255);
}

#comparison_table tr td{
    text-align: center;
}



.reflect_button{
    font-size: 10px;
    margin-right:5px;
}
.delete_button{

    font-size: 10px;
    width: 23px;
}

.display_none{
    display: none;
}

/* サブステ値 */
.subst_main{

}
.subst_crt{

}
.subst_dir{

}
.subst_det{

}
.subst_sks{

}
.subst_sps{

}
.subst_ten{
    
}
.subst_pie{

}
.subst_vit{

}

/* サブステを赤くする */
.red{
    color: red;
    font-weight: bold;
}

.save_limit{
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: -25px;
    color: red;
    font-weight: bold;
    display: none;
}

#retun_delete{
    width: 80px;
    margin-left: 10px;
}

.spc_div button{
    margin-left: 10px;
}

#spc_mate_button{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.spc_mate_table{
    display: inline;
    position: relative;
    top: 6px;
    left: 5px;
}

.spc_mate_table td{
    border: 1px red solid;
    width: 60px; 

}

[class^="comparison_list_div"]{
    background-color: blue;
    width: 400px;
    position: absolute;
    top: 0;
    right: 90px;
}

[class^="comparison_list_p"]{
    margin-bottom: -5px;
    color: white;
    text-align: left;
    padding-left: 10px;
}

#comparison_button{
    position: relative;
}

