footer {
    --contentWidth: 1200px;
    padding: -5rem 1rem;
  }
   
  .inside {
    max-width: var(--contentWidth);
    margin: 0 auto;
  }
  
  header{
  
      width: auto;
      height:150px;
      margin-top: 90px;
  }
   
  .nav li{
    color:black;
}
  
   
  
  .nav a{
      text-decoration:none;
  }
  
  img.logo{
      width: 280px;
      height: 40px;
  
      }
  img.media{
      width: 30px;
      height: 30px;
      float: right;
      margin-left: 10px;
      margin-top: 10px;
      }
  
  div.menu{
      float: right;
  }
  
  .nav {
    list-style: none;
    display: flex;
  }
   
  .nav li {
    width: 140px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-right: 2px;
  }
  
  .main img{
      width:100%;
  }
  
  h1{
      font-size:50px;
      font-family: fantasy;
      text-align: center;
      padding-top:80px;
  }
  
  div.contents{
      text-align:  center; 
  
  }
  
  div.contents-item{
      width: 300px;
      display: inline-block;
      margin-right: 40px;
      vertical-align: text-top;
  
  }
  
  .jobicon{
      width: 100px;
      height: 100px;
  }
  
  
  div.contents_strategy{
      text-align:  center; 
  
  }
  
  div.contents_strategy_item{
      width: 300px;
      display: inline-block;
      margin-right: 40px;
      vertical-align: text-top;
      margin-top: 20px;
  
  }
  
  .strategy{
      width: 100%;
     
  }
  
  
  
  div.contents_blog{
      text-align:  center; 
  
  }
  
  div.contents_blog_item{
      width: 300px;
      display: inline-block;
      margin-right: 40px;
      vertical-align: text-top;
  
  }
  
  .blog{
      width: 100%;
  
  }
  
  div.footer{
      margin-top: 200px;
  
  }
  
  h2{
      font-size:40px;
      color: gray;
  
  }
  
  .coment{
      margin-bottom: 150px;
  }
  
  .screenshot img{
      width: 100%;
  }
  
  h3{
      font-weight: bold;
  }
  
  .form p{
      padding-top: 20px;
      position: relative;
      top:10px;
  }
  
  .form textarea{
      width: 500px;
      height: 100px;
  }
  
  .submit{
      margin-top: 50px;
      width: 100px;
      height: 80px;
      font-size: 20px;
  }
  
  .send_detail p{
      padding-top: 20px;
      position: relative;
      top:10px;
  }

.listtable{
    width: 100%;
    border-collapse: collapse;
}  

.listtable th{
    width: auto;
    margin: auto;
    border-bottom: solid 2px #fb5144;
}

.listtable img{
    width: 45px;

}

.listtable tr{
    border-bottom: solid 2px #ddd;
}

h3{
    color: rgb(255, 0, 0);
    font-size: 50px;
    margin-bottom: 0px;
}

.time{
    margin-top: 0px;

}

.blog img{
    width: 800px;
    margin-bottom: 75px;
    
}

.blogdetail img{
    width: 800px;
    margin-bottom: 75px;
}

.blogdetail{
    text-align: center;
}

.blogtable{
    width: 100%;
}

.blogtable img{
    width: 450px;
    margin-bottom: 0px;
}

.blogtable p{
    margin-top: 0px;
    margin-bottom: 50px;
    
}

.blogcomment{
    margin-top: -15px;
}

.edit_button{
    width: 100px;
    margin-right: 20px;
}

.delete_button{
    width: 100px;
}



.blogedit img{
    width: 800px;

}

.blogedit{
    text-align: center;
}

.h3input{
    width: 800px;
    color: red;
}


.blogedittable{
    width: 100%;
}

.blogedittable img{
    width: 450px;
    margin-bottom: 0px;
}

.blogedittable p{
    margin-top: 0px;
    margin-bottom: 50px;
    
}

.edittextarea{
    width: 450px;
    height: 100px;
    margin-top: -50px;
}

.edit_edit_button{
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.samneil_edit{
    display: none;
}

.submit_blogedit{
    margin-top: 50px;
    width: 200px;
    height: 80px;
    font-size: 20px;
}


/* ここから下がボタンのCSS　*/
.container{
    text-align: center;
}

.btn-denim {
    margin-top: 10px;
    display: inline-block;
    max-width: 180px;
    background-color: #293b6a;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border: 1px dashed #FFF;
    box-shadow: 0px 0px 0px 5px #293b6a;/* box-shadowで外枠を */
  }
  
  .btn-denim:hover {
    border-style: solid;
  }

/* ボタンデザイン ここまで*/

/* シミュレーターページ */
.footer_simu {
    --contentWidth: 1800px;
    padding: 1rem 5rem;
}

.inside_simu {
    max-width: var(--contentWidth);
    margin: 0 auto;
}

/* カラム設定 */
#lbox{
    float: left;
    width: 35%;
}
#cbox{
    float: left;
    width: 20%;
}
#rbox{

}



.select_job_div{
    margin-bottom: 15px;
}
.select_job{
    width: 150px;
}
.select_race{
    width: 200px;
}

/* 色 */
.wep_bg_pro{
    background-color: rgb(255, 226, 226);
    width: 95%;
}
.arm_bg_pro{
    background-color: rgb(226, 244, 255);
    width: 95%;
}
.acc_bg_pro{
    background-color: rgb(232, 255, 226);
    width: 95%;
}
.mea_bg_pro{
    background-color: rgb(255, 242, 226);
    width: 95%;
}

.select_wep{
    width: 250px;
}

/* 各項目の大枠 */
.select_wep_div{
    width: 570px;
}
.select_sld_div{
    width: 570px;
}
.select_arm_div{
    margin-top: -10px;
    width: 570px;
}
.select_acc_div{
    margin-top: -10px;
    width: 570px;
}
.select_mea_div{
    margin-top: -10px;
    width: 570px;
}

/* 微調整 */
.select_sld_div p{
    margin-top: -10px;
    margin-bottom:30px;
}
.select_arm{
    width: 250px;
}
.fee_div{
    margin-bottom:30px;
}
.select_acc{
    width: 250px;
}
.rin2_div{
    margin-bottom:30px;
}

.select_mea{
    width: 250px;
}



.select_mate1,.select_mate2,.select_mate3,.select_mate4,.select_mate5{
    width: 50px;
}

/* サブステテーブル */
.tbl_subst{
    position: relative;
    left: -25px;
}
.tbl_subst th{
    text-align: center;
    border-bottom : 1px solid #ff0000;
    width: 10%;
    padding-bottom: 3px;

}

.tbl_subst td{
    text-align: center;
    border-bottom : 1px solid #a8b7c5;
    width: 10%;
    padding-top: 3px;
    padding-bottom: 3px;
}

.tbl_subst_hea td,.tbl_subst_ear td,.tbl_subst_foo td{
    padding-top:17px;
}

.tbl_subst_foo td{
    border-bottom : 2px solid #000000;
    border-bottom-style: solid;
}
.tbl_subst_total td{
    padding-top:5px;
    border-bottom-style: none;
    font-weight: 800;
    color: blue;
}

.clear{
    clear: left;

}